<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Convo</title>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .table td:first-child {
        width: calc(100% - 25px);
    }
    .table td:last-child {
        width: 25px;
    }
    .input-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .input-group input {
        flex: 1;
    }
    .input-group button {
        margin-left: 10px;
    }
</style>
{% load static %}
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="container">
    <h1>{{ topic|title }}</h1>
    <table class="table" id="message_table">
        <tbody>
            <tr>
                <td>Today's conversation will be around the topic '{{ topic }}'. Below are the conversation messages, starting with the opening message from Miko.</td>
                <td><button onclick="play_audio(this)" disabled><i class="fa-solid fa-play"></i></button></td>
            </tr>
            <tr>
                <td>[Miko]: {{ first_message }}</td>
                <td><button onclick="play_audio(this)"><i class="fa-solid fa-play"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div class="input-group">
        <input id="user_input_text" type="text" placeholder="Your message here">
        <button id="record_button"><i class="fa-solid fa-microphone"></i></button>
        <button id="play_me_back_button" onclick="play_current_recording()" disabled><i class="fa-solid fa-play"></i></button>
        <button id="send_button" disabled><i class="fa-solid fa-paper-plane"></i></button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    // Record button
    let mediaRecorder;
    let audioChunks = [];
    let currentRecording;

    // When the document is ready, play the audio of the first message
    $(document).ready(function() {
        play_audio(document.querySelector('#message_table tr:nth-child(2) button'));
    });

    async function initMediaRecorder() {
        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
        mediaRecorder = new MediaRecorder(stream);

        mediaRecorder.ondataavailable = event => {
            audioChunks.push(event.data);
        };

        mediaRecorder.onstop = () => {
            const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
            const audioUrl = URL.createObjectURL(audioBlob);
            const audio = new Audio(audioUrl);
            //audio.play();
            currentRecording = audio;
            sendAudio(audioBlob);
        };
    }

    document.querySelector('#record_button').addEventListener('click', () => {
        if (mediaRecorder.state === 'inactive') {
            // Reset the audio chunks and start recording
            audioChunks = [];
            mediaRecorder.start();
            // Change the recording icon to a stop icon
            document.querySelector('#record_button i').classList.remove('fa-microphone');
            document.querySelector('#record_button i').classList.add('fa-stop');
            console.log('Recording started');
        } else {
            mediaRecorder.stop();
            // Change the stop icon to a recording icon
            document.querySelector('#record_button i').classList.remove('fa-stop');
            document.querySelector('#record_button i').classList.add('fa-microphone');
            console.log('Recording stopped');
        }
    });

    window.onload = initMediaRecorder;

    // Send audio to server
    async function sendAudio(audioBlob) {
        const formData = new FormData();
        formData.append('audio', audioBlob, 'recordedAudio.wav');

        try {
            const response = await fetch('/send_audio', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCsrfToken(),
                },
                body: formData,
            });

            if(response.ok) {
                const data = await response.json();
                console.log('Server Response:', data);
                // Put the data["transcription_result"] into the user_input_text text input field
                document.querySelector('#user_input_text').value = data["transcription_result"];
                // Remove disabled attribute from play button and send button
                document.querySelector('#play_me_back_button').disabled = false;
                document.querySelector('#send_button').disabled = false;
            } else {
                console.error('Server Error:', response.status);
            }
        } catch(error) {
            console.error('Network Error:', error);
        }
    }

    // Send message to server
    document.querySelector('#send_button').addEventListener('click', () => {
        const messageText = document.querySelector('.input-group input').value;
        // Immediately add the message to the table
        const messageTable = document.querySelector('#message_table');
        const newRow = messageTable.insertRow(-1);
        const newCell1 = newRow.insertCell(0);
        const newCell2 = newRow.insertCell(1);
        newCell1.innerHTML = "[User]: " + messageText;
        newCell2.innerHTML = '<button onclick="play_audio(this)"><i class="fa-solid fa-play"></i></button>';
        // Also, clear the text input so that the user can type or say a new message
        document.querySelector('.input-group input').value = '';
        // Put back disabled attribute onto play button and send button
        document.querySelector('#play_me_back_button').disabled = true;
        document.querySelector('#send_button').disabled = true;
        // Then, get a response from the LLM
        fetch('/send_message', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ message_text: messageText })
        }).then(response => {
            if (response.ok) {
                return response.json();
            }
        }).then(data => {
            //console.log('Server Response:', data);
            // Add the response to the table
            const newRow = messageTable.insertRow(-1);
            const newCell1 = newRow.insertCell(0);
            const newCell2 = newRow.insertCell(1);
            newCell1.innerHTML = "[Miko]: " + data["response"];
            newCell2.innerHTML = '<button onclick="play_audio(this)"><i class="fa-solid fa-play"></i></button>';

            const audioData = data["audio"];
            if (audioData) {
                const audio = new Audio();
                audio.src = `data:audio/wav;base64,${audioData}`;
                audio.playbackRate=0.8;
                audio.play();
            }
        });
    });

    // Play button
    function play_audio(button) {
        // event.preventDefault();
        var messageText = button.parentNode.parentNode.querySelector('td:first-child').innerText;
        // Remove [User]: or [Miko]: from the start of the message text
        messageText = messageText.substring(messageText.indexOf(']') + 2);
        //console.log("Message was: " + messageText)
        fetch('/get_audio', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ message_text: messageText })
        }).then(response => {
            if (response.ok) {
                return response.blob();
            }
        }).then(blob => {
            if (blob) {
                const audioUrl = URL.createObjectURL(blob);
                const audio = new Audio(audioUrl);
                audio.play();
            } else {
                // Highlight the message text in red
                button.parentNode.parentNode.querySelector('td:first-child').style.color = 'red';
            }
        });
    }

    function play_current_recording() {
        currentRecording.play();
    }

    function get_full_convo() {
        fetch('/get_convo', {
            method: 'GET'
        }).then(response => {
            if (response.ok) {
                return response.json();
            }
        }).then(data => {
            console.log('Full Convo so far:', data);
        });
    }

</script>

</body>
</html>